.demo-topbar {
  height: 100px;
  line-height: 40px;
  padding-left: 1em;
  background: #595959;
  border-bottom: 1px solid #ddd;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif !important;
  font-size: 14px !important;
  color: #FFFFFF !important; }
  .demo-topbar .codepen-button {
    float: right;
    margin-top: 7px;
    margin-right: 7px; }

.codepen-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 26px;
  line-height: 26px;
  padding: 0 6px;
  border: 1px solid #ddd;
  background: #FF0000;
  border-radius: 4px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif !important;
  font-size: 11px !important;
  color: #000 !important;
  cursor: pointer; white-space: pre-wrap;}
  .codepen-button:after {
    content: '\02197';
    vertical-align: middle;
    margin: -50% 0 -50% 2px; }
