@font-face {
font-family:aluprints;
src:url('../fonts/leelawad.ttf');
text-decoration:none;
}

/* - Color Pallete  //---------------- */
.primary-clr, .social li a:hover, .category-links li a:hover, .quick-links li a:hover, .icons-contact

{
	color:#ce9525  /* --- Gold Color --- */
}
.primary-bg, .caption-head, .pro-box, .modal-footer
{
	background:#ce9525 !important; /* --- Gold Bg --- */
}
.secondary-clr
{
	color:#464646; /* --- Black Color --- */
}
.secondary-bg, .pro-box:hover, .pro-box-list:hover
{
	background:#464646 !important; /* --- Black Bg --- */
}
.white-clr
{
	color:#FFF;
}
.white-bg
{
	background:#FFF;
}
.over
{
	overflow:hidden;
}

/* - Spacer Style  //---------------- */

.right-side {
	float: right;
}
.left-side {
	float: left;
}
.plr-10 {
	padding-left: 10px;
	padding-right: 10px;
}
.plr-15 {
	padding-left: 15px;
	padding-right: 15px;
}
.ptb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.ptb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pt-6
{
	padding-top:6px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-15 {
	padding-top: 15px;
}
.pb-15 {
	padding-bottom: 15px;
}
.pt-30 {
	padding-top: 30px;
}
.pb-30 {
	padding-bottom: 30px;
}
.p-0 {
	padding: 0px;
}
.ptb-12
{
	padding:12px;
}
.p-5
{
	padding:5px;
}
.mtb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mtb2-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mtb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mtb-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-40
{
	margin-top:40px;
	
}
.mb-20 {
	margin-bottom: 20px;
}
.mtb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-22 {
	margin-top: 22px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mtb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mt-10 {
	margin-top: 10px;
}
.mb-40 {
	margin-bottom: 40px;
}
.m-0 {
	margin: 0px;
}
.mb-0
{
	margin-bottom:0px;
}
.mlr_-20 {
	margin-left: -10px;
	margin-right: -10px;
}
.wide
{
	width:100%;
}
.wide2
{
	width:100%;
}
.just
{
	text-align:justify;
}
/* ---- header ----- */
.header
{
	background:#f7f7f7;
	padding:10px 0px;
}
.icon-box
{
	float:left;
	width: 33%;
	margin-top: 12px;
}

.icon
{
	height:60px;
	float: left;
    margin-top: 8px;
    margin-right: 15px;
    
}
.icon i
{
	font-size:35px;
}
.icon-box h4
{
	color:#525252;
	font-weight:600;
	letter-spacing: 1.2px;
}
.icon-box p
{
	font-weight:lighter;
}
.icon-box:hover .icon i
{
	color:#ed2126;
	 
}

/* --- Boxes -- */
.info-details {
    background-color: #2a2a2a;
       padding: 30px 15px 15px;
    margin-bottom: 0px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    padding-top: 0px;
	min-height: 185px;
}
.info-details:hover
{
	background:#000000;
}
.info-details:hover .contact-icon{
    background-color: #ce9525;
	color:#FFF;
}
.info-details h3 {
   margin: 0px;
    color: white;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 9px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.info-details p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
	    text-align: left;
}
.contact-icon {
   
    font-size: 37px;
    background-color: #FFF;
    height: 70px;
    width: 70px;
    line-height: 2px;
    border-radius: 50px;
    transform: translateY(-33px);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
	    padding: 12px 16px;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    font-size: 29px;
    line-height: 30px;
    font-weight: 400;
    color: #272727;
	
}
.section-title .decor:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ef5704;
}
.section-title .decor:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 33px;
    width: 6px;
    height: 3px;
    background: #2a2a2a;
    transform: skewX(-30deg);
}
.section-title .decor {
    position: relative;
    display: table;
    height: 3px;
    width: 74px;
    margin-top: 0px;
    margin-bottom: 15px;
}

/* ----- Box 2 Gold ---- */
.info-details-gold {
    background-color: #2a2a2a;
       padding: 30px 15px 15px;
    margin-bottom: 0px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    padding-top: 0px;
	min-height: 185px;
}
.info-details-gold:hover
{
	background:#000000 !important;
}
.info-details-gold:hover .contact-icon-gold{
    background-color: #ce9525  ;
	color:#FFF;
}

.info-details-gold h3 {
   margin: 0px;
    color: white;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 9px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.info-details-gold p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
	    text-align: left;
}

.contact-icon-gold {
   
    font-size: 37px;
    background-color: #FFF;
    height: 70px;
    width: 70px;
    line-height: 2px;
    border-radius: 50px;
    transform: translateY(-33px);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
	     padding: 12px 16px;
}
.section-title-gold h2 {
    position: relative;
    display: inline-block;
    font-size: 29px;
    line-height: 30px;
    font-weight: 400;
    color: #272727;
	
}
.section-title-gold .decor:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ef5704;
}
.section-title-gold .decor:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 33px;
    width: 6px;
    height: 3px;
    background: #ce9525;
    transform: skewX(-30deg);
}
.section-title-gold .decor {
    position: relative;
    display: table;
    height: 3px;
    width: 74px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.heading
{
	font-weight:600;
}
.just
{
	text-align:justify;
}
.cust-image
{
	float:left;
	padding-right: 9px;
    padding-bottom: 9px;
    width: 250px;
}
.heading2
{
	font-size:20px;
	font-weight:600;
	letter-spacing:2px;
	text-transform:uppercase;
}
.heading3
{
	font-size:18px;
	margin-top:-5px;
}
.brochure
{
	color:#FFF;
	    padding-bottom: 10px;
}
.down
{
	margin-top: 20px;
}

/* ------ Footer ------ */
.footer
{
	background:#202020;
	padding:30px;
}
.social li
{
	
	list-style:none;
	font-size:40px;
	display:inline-block;
	padding-right:10px;
}
.social li a
{
	color:#FFF;
}
.social li a:hover
{

	text-decoration:none;
}
.category-links li
{
	list-style:none;
	display:inline-block;
	margin-right:30px;
	font-weight:700;
	letter-spacing:1.7px;
	margin-bottom:8px;
	
}
.category-links li a
{
	color:#E8E8E8;
	text-transform:uppercase;
	font-size:14px;
}

.quick-links li
{
	list-style:none;
	display:inline-block;
	color:#9A9A9A;
}
.quick-links li a
{
	color:#9A9A9A;
}
.small-footer
{
	padding:10px;
	background: #464646;
}
.footer-links
{
	padding: 0px 0px 0px 6px;
}
.footer-links li
{
	list-style:none;
	line-height:2;
}
.footer-links li a
{
	color:#FFF;
	text-decoration:none;
}
.footer-links li a:hover
{
	color:#ce9525;
	text-decoration:none;
}

.footer-ico
{
	font-size:35px !important;
}
.copyright
{
	color:#a9a4a4;
}
.designed
{
	color:#a9a4a4;
	text-align:right;
}
.designed a
{
	color:#a9a4a4;
	text-align:right;
}
.designed a:hover
{
	color:#E1E1E1 !important ;
}

.im
{
	 transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.im:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

/*Main stylesheet for Backtop jQuery Plugin */
#backTop{
    width:18px;
    height:15px;
    padding:10px;
    border-radius:4px;
    text-indent:-9999px;
    cursor:pointer;
    z-index:999999999;
	display:none;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}

#backTop.red{
     background:url(../images/uparr-48-w.png) no-repeat center center rgb(206, 149, 37); 
    border:1px solid #fff;
}

/* ------ Subpage ------ */
.boxes {
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #F0F0F0;
    background: #ffffff;
    -moz-box-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    -webkit-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    margin-top: 15px;
}
.boxes p
{
	padding:10px;
}
.boxes3 {
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #F0F0F0;
    background: #ffffff;
    -moz-box-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    -webkit-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
	margin-top:15px;
}
.boxes3
{
	padding:10px;
}
.caption-head {
    font-size: 20px;
    text-align: center;
    padding: 12px 5px;
    background: #da251a;
    color: #ffffff;
    margin-bottom: 2px;
}

.custom-im {
    width: 320px;
    float: left;
    padding: 0px 15px 15px 0px;
}
.custom-im2 {
    width: 320px;
    float: right;
    padding: 0px 0px 15px 15px;
}
.boxes-sub2 {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #F0F0F0;
    background: #ffffff;
    -moz-box-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    -webkit-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
}
.boxes-sub2:hover .caption-head
{
	color:#eeff02;
}
.read
{
	margin-bottom:10px;
}
.boxes-sub2:hover .read
{
	background:#189CAB;
	border:1px solid #1A878C;
}
.boxes-sub2 p
{
	text-align:justify;
	padding:15px;
}

.slide-im
{
	width:400px;
}
.list-group a
{
	color: #454545;
    text-decoration: none;
	font-size: 15px;
}

.list-group a:hover {
    color: #3fab3c;
    text-decoration: none;
}
.section-title h2 {
    position: relative;
    display: inline-block;
    font-size: 29px;
    line-height: 30px;
    font-weight: 400;
    color: #272727;
	
	
}
.section-title .decor:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ef5704;
}
.section-title .decor:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 33px;
    width: 6px;
    height: 3px;
    background: #fff;
    transform: skewX(-30deg);
}
.section-title .decor {
    position: relative;
    display: table;
    height: 3px;
    width: 74px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.main-heading
{
	padding-bottom: 5px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 23px;
    text-transform: uppercase;
}
.main-heading .title {
	color: #000000;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 8px;
    position: relative;
    text-transform: uppercase;
   
	
}

.main-heading .title:after {
	background-color: #da251c;
	bottom: -12px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 50px;
}
.im-main
{
	margin-bottom: 20px !important;
}
.pro-name
{
	font-size:18px;
	color: #1e64af;
	margin-bottom:5px;
}
.main-config
{
	font-size:16px;
	margin-bottom:7px;
}
.sub-config
{
	margin-left:15px;
	font-size:15px;
}
.justified
{
   text-align:justify;
   margin-top: 10px;
	
}
.txt-center
{
   text-align:center;
   margin-top: 10px;
	
}
.box-border
{
  border: 1px solid #3fab3c;
    border-top: none;
    padding: 10px 10px 10px;
    margin-top: -10px; 
	margin-bottom:15px;
}
/* Curl Top Right */
.hvr-curl-top-right {
  
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
.hvr-curl-top-right:hover:before, .hvr-curl-top-right:focus:before, .hvr-curl-top-right:active:before {
  width: 25px;
  height: 25px;
}
.banner
{
	background:url(../images/bg/banner.jpg) top fixed;
}
.sub-overlay
{
	background: rgba(0, 0, 0, 0.7);
	overflow:hidden;
	padding:60px;
	
}
.sub-text {
    font-size: 28px;
    color: #fdfff6;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2.5px;
  	
   text-transform:capitalize;
}
.bread
{
	border: 1px solid #FFF;
    padding: 2px 7px;
	color:#FFF;
}
.bread:hover
{
	color:#CDCDCD;
}
.text-right
{
	text-align:right;
	margin-top: 10px;
}
.pro-box
{
	margin-bottom:0px;
	 transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.pro-box:hover
{
 transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;	
}

.caption
{
	padding:10px;
    text-align: center;
    letter-spacing: 1px;
	color:#FFF;
	
}
/* ------- Contact CSS ---------- */
.con-boxes {
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #F0F0F0;
    background: #f7f7f7;
    -moz-box-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    -webkit-box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
    box-shadow: 2px 2px 1px RGBa(0,0,0, 0.035);
	margin-top:15px;
}
.con-boxes:hover {
    background: #FFF;
   }
.box
{
	padding-right: 10px;
    float: left;
}
.icons-contact
{
	font-size: 45px !important;
   
}
.con-text
{
	font-size: 15px;
  
}
.con-head
{
	font-size: 20px;
    color: #da770d;
    text-transform: uppercase;
}
.enquiry
{
	background:#EEE;
	padding:20px 10px;
	
    position:relative;
    float:left;
}
.main-head
{
	font-size: 28px;
    border-bottom: 2px solid #C30;
    margin-bottom: 10px;
    display: inline-block;
}
.enq-text
{
	
	font-weight:600;
	font-size: 22px;
}
/* end sub page css */
.pro-box-list
{
	background:#eaeaea ;
	 transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
	
}
.pro-box-list .caption
{
	color:#000;
	 transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.pro-box-list:hover
{
	 transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.pro-box-list:hover .caption
{
	color:#FFF;
	 transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
@media(min-width:280px) and (max-width:768px)
{
	.logo {
   margin: 0 auto;
    width: 300px;
    
}
.cust-image {
    float: left;
    padding-right: 9px;
    padding-bottom: 9px;
    width: 33%;
}
.footer {
    background: #202020;
    padding:20px  10px;
}
.social 
{
padding:0px;	
}
.category-links
{
	padding:0px;
}
.category-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
     font-weight: 100; 
     letter-spacing: 1px; 
    margin-bottom: 8px;
}
.category-links li a {
    color: #E8E8E8;
    text-transform: uppercase;
    font-size: 13px;
}
.quick-links
{
	padding: 0px;
}
.quick-links li a
{
	font-size:11px;
}
.copyright {
    color: #a9a4a4;
    text-align: center;
}
.heading2 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.down {
    margin-top: 13px;
}
.slide-arrow
{
	width:25px;
}
.btn-warning {
    color: #fff;
    background-color: #a97b22;
    border-color: #ffffff;
    font-size: 12px;
}
.sub-text {
    font-size: 20px;
    color: #fdfff6;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    text-align: center;
}
.text-right {
    text-align: center;
    margin-top: 10px;
}
.sub-overlay {
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    padding: 20px;
}
.main-heading .title {
	color: #000000;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 8px;
    position: relative;
    text-transform: uppercase;
   
	
}

}
@media(min-width:768px) and (max-width:991px)
{
.icon-box {
    float: left;
    width: 50%;
    margin-top: 12px;
}
.cust-image {
    float: left;
    padding-right: 9px;
    padding-bottom: 9px;
    width: 33%;
}
.info-details h3 {
    margin: 0px;
    color: white;
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 9px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.info-details-gold h3 {
    margin: 0px;
    color: white;
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 9px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}
}
@media(min-width:991px) and (max-width:1199px)
{
	.info-details h3 {
    margin: 0px;
    color: white;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 9px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.cust-image {
    float: left;
    padding-right: 9px;
    padding-bottom: 9px;
    width: 33%;
}
}
