	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/04/2018 08:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;

}

.flaticon-pinterest-social-visual-website-logotype:before { content: "\f100"; }
.flaticon-google-plus-circular-button:before { content: "\f101"; }
.flaticon-twitter-circular-button:before { content: "\f102"; }
.flaticon-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f103"; }
.flaticon-cup-5:before { content: "\f104"; }
.flaticon-trophy-9:before { content: "\f105"; }
.flaticon-trophy-8:before { content: "\f106"; }
.flaticon-cup-4:before { content: "\f107"; }
.flaticon-medal:before { content: "\f108"; }
.flaticon-trophy-7:before { content: "\f109"; }
.flaticon-trophy-6:before { content: "\f10a"; }
.flaticon-trophy-5:before { content: "\f10b"; }
.flaticon-trophy-4:before { content: "\f10c"; }
.flaticon-cup-3:before { content: "\f10d"; }
.flaticon-trophy-3:before { content: "\f10e"; }
.flaticon-trophy-2:before { content: "\f10f"; }
.flaticon-social-media-1:before { content: "\f110"; }
.flaticon-technology-13:before { content: "\f111"; }
.flaticon-signs-7:before { content: "\f112"; }
.flaticon-trophy-1:before { content: "\f113"; }
.flaticon-mark-1:before { content: "\f114"; }
.flaticon-trophy:before { content: "\f115"; }
.flaticon-commerce:before { content: "\f116"; }
.flaticon-construction:before { content: "\f117"; }
.flaticon-computer-1:before { content: "\f118"; }
.flaticon-cup-2:before { content: "\f119"; }
.flaticon-cup-1:before { content: "\f11a"; }
.flaticon-book:before { content: "\f11b"; }
.flaticon-lock-3:before { content: "\f11c"; }
.flaticon-lock-2:before { content: "\f11d"; }
.flaticon-lock-1:before { content: "\f11e"; }
.flaticon-vision:before { content: "\f11f"; }
.flaticon-signs-6:before { content: "\f120"; }
.flaticon-direction:before { content: "\f121"; }
.flaticon-technology-12:before { content: "\f122"; }
.flaticon-arrows-4:before { content: "\f123"; }
.flaticon-lock:before { content: "\f124"; }
.flaticon-internet-1:before { content: "\f125"; }
.flaticon-multimedia-4:before { content: "\f126"; }
.flaticon-arrow-1:before { content: "\f127"; }
.flaticon-arrow:before { content: "\f128"; }
.flaticon-bluetooth:before { content: "\f129"; }
.flaticon-mark:before { content: "\f12a"; }
.flaticon-shapes-3:before { content: "\f12b"; }
.flaticon-suitcase:before { content: "\f12c"; }
.flaticon-app-1:before { content: "\f12d"; }
.flaticon-chain-1:before { content: "\f12e"; }
.flaticon-technology-11:before { content: "\f12f"; }
.flaticon-technology-10:before { content: "\f130"; }
.flaticon-technology-9:before { content: "\f131"; }
.flaticon-time-4:before { content: "\f132"; }
.flaticon-chain:before { content: "\f133"; }
.flaticon-agenda:before { content: "\f134"; }
.flaticon-draw-1:before { content: "\f135"; }
.flaticon-time-3:before { content: "\f136"; }
.flaticon-can-1:before { content: "\f137"; }
.flaticon-interface-5:before { content: "\f138"; }
.flaticon-interface-4:before { content: "\f139"; }
.flaticon-folder-3:before { content: "\f13a"; }
.flaticon-folder-2:before { content: "\f13b"; }
.flaticon-folder-1:before { content: "\f13c"; }
.flaticon-folder:before { content: "\f13d"; }
.flaticon-time-2:before { content: "\f13e"; }
.flaticon-time-1:before { content: "\f13f"; }
.flaticon-time:before { content: "\f140"; }
.flaticon-square-2:before { content: "\f141"; }
.flaticon-square-1:before { content: "\f142"; }
.flaticon-square:before { content: "\f143"; }
.flaticon-draw:before { content: "\f144"; }
.flaticon-key:before { content: "\f145"; }
.flaticon-people:before { content: "\f146"; }
.flaticon-music:before { content: "\f147"; }
.flaticon-present:before { content: "\f148"; }
.flaticon-layers:before { content: "\f149"; }
.flaticon-cogwheel-1:before { content: "\f14a"; }
.flaticon-attachment:before { content: "\f14b"; }
.flaticon-interface-3:before { content: "\f14c"; }
.flaticon-weather:before { content: "\f14d"; }
.flaticon-interface-2:before { content: "\f14e"; }
.flaticon-symbol:before { content: "\f14f"; }
.flaticon-technology-8:before { content: "\f150"; }
.flaticon-clock:before { content: "\f151"; }
.flaticon-internet:before { content: "\f152"; }
.flaticon-signs-5:before { content: "\f153"; }
.flaticon-signs-4:before { content: "\f154"; }
.flaticon-shapes-2:before { content: "\f155"; }
.flaticon-shapes-1:before { content: "\f156"; }
.flaticon-upload:before { content: "\f157"; }
.flaticon-multimedia-3:before { content: "\f158"; }
.flaticon-technology-7:before { content: "\f159"; }
.flaticon-computer:before { content: "\f15a"; }
.flaticon-signs-3:before { content: "\f15b"; }
.flaticon-interface-1:before { content: "\f15c"; }
.flaticon-bars-1:before { content: "\f15d"; }
.flaticon-cross:before { content: "\f15e"; }
.flaticon-signs-2:before { content: "\f15f"; }
.flaticon-check:before { content: "\f160"; }
.flaticon-technology-6:before { content: "\f161"; }
.flaticon-bars:before { content: "\f162"; }
.flaticon-signs-1:before { content: "\f163"; }
.flaticon-signs:before { content: "\f164"; }
.flaticon-line:before { content: "\f165"; }
.flaticon-power:before { content: "\f166"; }
.flaticon-interface:before { content: "\f167"; }
.flaticon-multimedia-2:before { content: "\f168"; }
.flaticon-arrows-3:before { content: "\f169"; }
.flaticon-arrows-2:before { content: "\f16a"; }
.flaticon-arrows-1:before { content: "\f16b"; }
.flaticon-medical:before { content: "\f16c"; }
.flaticon-technology-5:before { content: "\f16d"; }
.flaticon-technology-4:before { content: "\f16e"; }
.flaticon-photo-2:before { content: "\f16f"; }
.flaticon-photo-1:before { content: "\f170"; }
.flaticon-photo:before { content: "\f171"; }
.flaticon-football-1:before { content: "\f172"; }
.flaticon-multimedia-1:before { content: "\f173"; }
.flaticon-multimedia:before { content: "\f174"; }
.flaticon-business-2:before { content: "\f175"; }
.flaticon-technology-3:before { content: "\f176"; }
.flaticon-technology-2:before { content: "\f177"; }
.flaticon-technology-1:before { content: "\f178"; }
.flaticon-close:before { content: "\f179"; }
.flaticon-arrows:before { content: "\f17a"; }
.flaticon-social-1:before { content: "\f17b"; }
.flaticon-business-1:before { content: "\f17c"; }
.flaticon-favorite:before { content: "\f17d"; }
.flaticon-link:before { content: "\f17e"; }
.flaticon-search:before { content: "\f17f"; }
.flaticon-cogwheel:before { content: "\f180"; }
.flaticon-can:before { content: "\f181"; }
.flaticon-business:before { content: "\f182"; }
.flaticon-technology:before { content: "\f183"; }
.flaticon-football:before { content: "\f184"; }
.flaticon-social-media:before { content: "\f185"; }
.flaticon-social:before { content: "\f186"; }
.flaticon-app:before { content: "\f187"; }
.flaticon-play:before { content: "\f188"; }
.flaticon-tool:before { content: "\f189"; }