/*Author : Sam shetty */

/* - Font Family  //---------------- */
@font-face {
 font-family: s-thin;
 src:url('../fonts/Heebo-Light.ttf');
 text-decoration:none;
}
@font-face {
 font-family: s-regular;
 src:url('../fonts/Heebo-Regular.ttf');
 text-decoration:none;
}
@font-face {
 font-family: s-medium;
 src:url('../fonts/Heebo-Medium.ttf');
 text-decoration:none;
}
@font-face {
 font-family: s-bold;
 src:url('../fonts/Heebo-Bold.ttf');
 text-decoration:none;
}
@font-face {
 font-family: s-head;
 src:url('../fonts/Bitstream Vera Serif Roman_0.ttf');
 text-decoration:none;
}
@font-face {
 font-family: g-play;
 src:url('../fonts/Playball.ttf');
 text-decoration:none;
}

/* - Color Pallete  //---------------- */
.primary-clr
{
	color:#a01d29 !important;
}
.primary-bg
{
	background:#a01d29 !important;
}
.secondary-clr
{
	color:#f79024 !important;
}
.secondary-bg
{
	background:#f79024 !important;
}
.white-clr
{
	color:#FFF;
}
.over
{
	overflow:hidden;
}
.icon-clr
{
 color:#ffe202d1;
}


/* - Spacer Style  //---------------- */

.right-side {
	float: right;
}
.left-side {
	float: left;
}
.plr-10 {
	padding-left: 10px;
	padding-right: 10px;
}
.plr-15 {
	padding-left: 15px;
	padding-right: 15px;
}
.ptb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.ptb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pt-6
{
	padding-top:6px;
}
.pt-15 {
	padding-top: 15px;
}
.pt-140
{
	padding-top:140px;
}
.pb-15 {
	padding-bottom: 15px;
}
.pt-30 {
	padding-top: 30px;
}
.pb-30 {
	padding-bottom: 30px;
}
.p-0 {
	padding: 0px;
}
.p-30 {
	padding: 20px 30px 20px;
}
.p-2
{
	padding:2px;
}
.mtb-30 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.mt-30 {
	margin-top: 30px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mtb-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-40
{
	margin-top:40px;
	
}
.mb-20 {
	margin-bottom: 20px;
}
.mtb-15 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-22 {
	margin-top: 22px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mtb-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.mt-10 {
	margin-top: 10px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-70 {
	margin-bottom: 70px;
}
.m-0 {
	margin: 0px;
}
.mlr_-20 {
	margin-left: -10px;
	margin-right: -10px;
}
.wide
{
	width:100%;
}

/* ----- Header starts ---- */
.header
{
	padding:5px 0px;
	border-bottom: 4px solid #f79226;
	background:url(../images/bg/header.png) fixed;
}
.step-logo
{
	float:right;
}
.logo-sub-text
{
	    font-size: 17px;
    letter-spacing: 1.6px;
    margin-top: -6px;
    color: #ea071c;
}
.content
{
	background:#EEE;
}
.main-head
{
	font-size:22px;
	font-family:s-head;
}
.main-head2
{
	font-size:24px;
	font-family:s-head;
	margin-bottom:20px;
}
.main-head3
{
	font-size:24px;
	font-family:s-medium;
	margin-bottom:5px;
}
.logo-text
{
	text-transform: uppercase;
    margin-top: 5px;
	font-size:30px;
	font-family:s-head;
	text-align:center;
	letter-spacing:1.2px;
}
.sub-head
{
	font-size:30px;
	font-family:s-head;
	text-align:center;
	
}
.success
{
	font-size:27px;
}
/* ------------- Signin ----------- */
.log-head {
    font-size: 19px;
    padding-bottom: 3px;
    margin-bottom: 12px;
	    color: #ce9525;
}
.account-boxes
{
	padding:20px;
	background: #F9F9F9;
	overflow:hidden;
	 min-height: 240px;
	 box-shadow: 0px 0px 12px #3e3e3e;
	 margin-bottom:20px;
}
.message-boxes
{
	padding:80px 20px;
	background: #F9F9F9;
	overflow:hidden;
	 min-height: 240px;
	  margin-bottom:20px;
	
}
.search-form .form-input i {
    position: absolute;
    top: 15px;
    margin-top: -8px;
    left: 10px;
    font-size: 20px;
    color: #d0d0d0;
}
.reset
{
	float:right;
}
.assist
{
	font-size:20px;
	text-align:center;
}
.footer
{
	padding:10px;
}
.copyright {
    color: #FFF;
    padding-top: 5px;
	
}
.designed {
    color: #FFF;
    text-align: right;
    padding-top: 5px;
}
.designed a
{
	color:#ffeb3b;
	text-decoration:none;
}
.bread
{
	padding:8px;
}
.user
{
	text-align:right;
}
.username
{
	font-size:16px;
	color:#D8D8D8;
	float:left;
	padding-right:20px;
	margin-top:5px;
}
.wealth
{
	background:#f7f7f7;
	padding:10px;
	font-size:20px;
	text-align:center;
	font-family:s-head;
}
.timer
{
	padding:10px;
	font-size:25px;
	font-family:s-head;
	text-align:center;
}
.note
{
	background: #4e4c4c;
    padding: 5px;
    color: #FFF;
    display: inline-block;
    font-size: 17px;
}
.questions
{
	background:#efefef;
	padding:10px 15px;
	overflow:hidden;
}
.q-text
{
	font-size:17px;
	float:left;
}
.marks
{
	font-size:17px;;
	float:right;
}
.attempt
{
	border:1px solid #d2cdcd;
}
.que
{
	padding:10px 20px 5px;
	    color: #de0c20;
		font-size:19px;
}
.sub-que
{
	
	padding:0px 20px 5px;
	margin-top:-5px;
}
.sub-que li
{
	font-size:16px;
	list-style:none;
	padding:0px;
	
	
		color:#1080b5;
}
.answers
{
	padding:0px 20px;
}
.answers li
{
	list-style:none;
	padding:0px;
}
.bread
{
	margin-bottom:0px;
}
.bread li
{
	display:inline-block;
	color:#5C5C5C;
}
.bread li a
{
	color:#5C5C5C;
}
.bread li a:hover
{
	color:#DF7000;
	text-decoration:none;
}
/* ------ Radio Button ---- */
.radio {
        padding-left: 40px;
    padding-bottom: 8px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #3caf0c; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #3caf0c; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #3caf0c; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }